@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:darkgray;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1{
  text-align: center;
  
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
}

.circle{
  background-color: azure;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 10px;
}

.telephone{
  width: 250px;
  background-color: black;
  height: 470px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 7px;
}

.screen{
  background-color: azure;
  width: 96%;
  height: 95%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label{
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}

input{
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 20px;
  padding-left: 7px;
}

#results-div{
  margin-top: 20px;
  text-align: center;
}

.buttons-div{
  margin: 7px 0 15px 0;
  display: flex;
  justify-content: space-around;
  width: 96%;
}

.buttons{
  width: 70px;
  height: 28px;
  font-size: 18px;
  border: none;
  background-color: azure;
}

.buttons:hover{
  background-color: lightskyblue;
}


